<link rel="stylesheet" href="/css/elegant-ui.css"  type="text/css">

<button class="btn btn-primary">Primary Button</button>

<button class="btn btn-secondary">Secondary Button</button>

<button class="btn btn-success">Success Button</button>

<button class="btn btn-danger">Danger Button</button>

<button class="btn btn-warning">Warning Button</button>



<!-- <button class="btn btn-primary">
    <span class="btn-icon left"></span>
    <span>Button text</span>
    <span class="btn-icon right"></span>
  </button>
  
  <button class="btn btn-secondary btn-lg">
    <span class="btn-icon left"></span>
    <span>Button text</span>
    <span class="btn-icon right"></span>
  </button>
  
  <button class="btn btn-success btn-sm">
    <span class="btn-icon left"></span>
    <span>Button text</span>
    <span class="btn-icon right"></span>
  </button>
  
  <button class="btn btn-danger">
    <span class="btn-icon left"></span>
    <span>Button text</span>
    <span class="btn-icon right"></span>
  </button>
  
  <button class="btn btn-warning">
    <span class="btn-icon left"></span>
    <span>Button text</span>
    <span class="btn-icon right"></span>
  </button> -->
  