<link rel="stylesheet" href="/Elegant-UI/css/elegant-ui.css"  type="text/css">
<style>
  .btn-padding{
    padding: 10px;
  }
</style>
<div style="margin:15px; display: flex; justify-content: flex-start; align-items: center; border-bottom:1px solid grey; padding:5px;">Default size</div>
<div style="margin:15px; display: flex; justify-content: space-evenly; align-items: center;">
  
<button class="btn btn-primary">Primary Button</button>

<button class="btn btn-secondary">Secondary Button</button>

<button class="btn btn-success">Success Button</button>

<button class="btn btn-danger">Danger Button</button>

<button class="btn btn-warning">Warning Button</button>


</div>


<div style="margin:15px; display: flex; justify-content: space-evenly; align-items: center;">
  
  <button class="btn btn-primary-outline">Primary Button</button>
  
  <button class="btn btn-secondary-outline">Secondary Button</button>
  
  <button class="btn btn-success-outline">Success Button</button>
  
  <button class="btn btn-danger-outline">Danger Button</button>
  
  <button class="btn btn-warning-outline">Warning Button</button>
  
  
  </div>

  <div style="margin:15px; display: flex; justify-content: space-evenly; align-items: center;">
  
    <button class="btn btn-primary-rounded">Primary Button</button>
    
    <button class="btn btn-secondary-rounded">Secondary Button</button>
    
    <button class="btn btn-success-rounded">Success Button</button>
    
    <button class="btn btn-danger-rounded">Danger Button</button>
    
    <button class="btn btn-warning-rounded">Warning Button</button>

    </div>

    <div style="margin:15px; display: flex; justify-content: flex-start; align-items: center; border-bottom:1px solid grey; padding:5px;">Medium size Button</div>
    <div style="margin:15px; display: flex; justify-content: space-evenly; align-items: center;">
  
      <button class="btn btn-primary btn-medium">Primary Button</button>
      
      <button class="btn btn-secondary  btn-medium">Secondary Button</button>
      
      <button class="btn btn-success  btn-medium">Success Button</button>
      
      <button class="btn btn-danger btn-medium">Danger Button</button>
      
      <button class="btn btn-warning  btn-medium">Warning Button</button>
    
      </div>
      <div style="margin:15px; display: flex; justify-content: space-evenly; align-items: center;">
  
        <button class="btn btn-primary-outline btn-medium">Primary Button</button>
        
        <button class="btn btn-secondary-outline btn-medium">Secondary Button</button>
        
        <button class="btn btn-success-outline btn-medium">Success Button</button>
        
        <button class="btn btn-danger-outline btn-medium">Danger Button</button>
        
        <button class="btn btn-warning-outline btn-medium">Warning Button</button>
        
        
        </div>
      
        <div style="margin:15px; display: flex; justify-content: space-evenly; align-items: center;">
        
          <button class="btn btn-primary-rounded btn-medium">Primary Button</button>
          
          <button class="btn btn-secondary-rounded btn-medium">Secondary Button</button>
          
          <button class="btn btn-success-rounded btn-medium">Success Button</button>
          
          <button class="btn btn-danger-rounded btn-medium">Danger Button</button>
          
          <button class="btn btn-warning-rounded btn-medium">Warning Button</button>
      
          </div>

          <div style="margin:15px; display: flex; justify-content: flex-start; align-items: center; border-bottom:1px solid grey; padding:5px;">Large Size Button</div>


      <div style="margin:15px; display: flex; justify-content: space-evenly; align-items: center;">
  
        <button class="btn btn-primary btn-large">Primary Button</button>
        
        <button class="btn btn-secondary  btn-large">Secondary Button</button>
        
        <button class="btn btn-success  btn-large">Success Button</button>
        
        <button class="btn btn-danger btn-large">Danger Button</button>
        
        <button class="btn btn-warning  btn-large">Warning Button</button>
      
        </div>

        <div style="margin:15px; display: flex; justify-content: space-evenly; align-items: center;">
  
          <button class="btn btn-primary-outline  btn-large">Primary Button</button>
          
          <button class="btn btn-secondary-outline  btn-large">Secondary Button</button>
          
          <button class="btn btn-success-outline  btn-large">Success Button</button>
          
          <button class="btn btn-danger-outline  btn-large">Danger Button</button>
          
          <button class="btn btn-warning-outline  btn-large">Warning Button</button>
          
          
          </div>
        
          <div style="margin:15px; display: flex; justify-content: space-evenly; align-items: center;">
          
            <button class="btn btn-primary-rounded  btn-large">Primary Button</button>
            
            <button class="btn btn-secondary-rounded  btn-large">Secondary Button</button>
            
            <button class="btn btn-success-rounded  btn-large">Success Button</button>
            
            <button class="btn btn-danger-rounded  btn-large">Danger Button</button>
            
            <button class="btn btn-warning-rounded  btn-large">Warning Button</button>
        
            </div>






<!-- <button class="btn btn-primary">
    <span class="btn-icon left"></span>
    <span>Button text</span>
    <span class="btn-icon right"></span>
  </button>
  
  <button class="btn btn-secondary btn-lg">
    <span class="btn-icon left"></span>
    <span>Button text</span>
    <span class="btn-icon right"></span>
  </button>
  
  <button class="btn btn-success btn-sm">
    <span class="btn-icon left"></span>
    <span>Button text</span>
    <span class="btn-icon right"></span>
  </button>
  
  <button class="btn btn-danger">
    <span class="btn-icon left"></span>
    <span>Button text</span>
    <span class="btn-icon right"></span>
  </button>
  
  <button class="btn btn-warning">
    <span class="btn-icon left"></span>
    <span>Button text</span>
    <span class="btn-icon right"></span>
  </button> -->
  