// font sizes
$font-sizes: (
    'size-1': 3rem,
    'size-2': 2.5rem,
    'size-3': 2rem,
    'size-4': 1.5rem,
    'size-5': 1.25rem,
    'size-6': 1rem,
    'size-7': 0.75rem
);

// breakpoints
$breakpoints: (
    'mobile': 0,
    'tablet': 768px,
    'desktop': 1024px,
    'wide-screen': 1216px,
    'extra-wide-screen': 1400px
);

// font-family



$font-families: (
    'georgia-serif' : 'Georgia, serif',
    'gill-sans-serif' :  'Gill Sans", sans-serif',
    'sans-serif' : 'sans-serif',
    'serif': 'serif', 
    'cursive' : 'cursive',
    'system-ui' : 'system-ui'
);

//Normal font weight. Same as 400.
//Bold font weight. Same as 700.
$font-weights: (
    '1': 100,
    '2': 200,
    '3': 300,
    '4': 400,
    '5': 500,
    '6': 600,
    '7': 700,
    '8': 800,
    '9': 900,

);
